.header {
    font-size: 50px;
    font-weight: 600;
    background-color: lightblue;
    text-align: center;
        
}

.links {
    font-size: 25px;
    padding: 5px;
    border: 15px;
    background-color: aqua;
}